
@model Assignment_ThangNVPH25980.Models.Accounts;
<div class="container giaban">
      <h4>Trang chủ > Đăng nhập>></h4>
      <hr style="border: 2px solid orangered;">   
    </div>
    

      <div class="Login full">
        <div class=" container container1">
          <div class="form login">
            <span class="title">Login</span>
              <form asp-action="Login">
                <div class="input-field" >
                  <input type="text" placeholder="Email" asp-for="UserName" name="user">
                  <i class="fa-regular fa-envelope icon"></i>
                </div>
                <div class="input-field">
                  <input type="password" placeholder="Password" asp-for="Password" name="pass">
                  <i class="fa-solid fa-lock icon"></i>
                  <i class="fa-regular fa-eye-slash showHidePW"></i>
                </div>

                <div class="checkbox-text">
                  <div class="checkbox-content">
                    <input type="checkbox" id="logCheck">
                    <label for="logCheck" class="text">Remeber me</label>
                  </div>
                  <a href="#" class="text">Quên mật khẩu?</a>
                </div>

                <div class="input-field button">
                  <input type="submit" value="Đăng nhập">
                  
                </div>
              </form>

              <div class="login-signup">
                <span class="text">Bạn chưa có tài khoản?
                  <a href="@Url.Action("SignUp","Home",new{})"  style="text-decoration:none; color: white" class="text signup-text" class="text signup-text">Đăng ký</a>
                </span>
              </div>

          </div>
        </div>
      </div>


@*
      <div class="center">
      <h1>Login</h1>
      <form method="post">
        <div class="txt_field">
          <input type="text" required>
          <span></span>
          <label>Username</label>
        </div>
        <div class="txt_field">
          <input type="password" required>
          <span></span>
          <label>Password</label>
        </div>
        <div class="pass">Forgot Password?</div>
        <input type="submit" value="Login">
        <div class="signup_link">
          Not a member? <a href="#">Signup</a>
        </div>
      </form>
    </div>*@